
																																										
<div class="row">
	<% @bars.each do |b| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="" alt="...">
      <div class="caption">
      	<dl>
      	Name: <%= link_to bar_path b do %>
        	<dt><%= b.name %></dt>
        </dl>
        
        <button><button>
        <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>