
<h2> Information Page  </h2>

	<div id = "barshow">
		<strong>Name:</strong> <%= @bar.name %>
		<br />
		<strong>Category:</strong> <%= @bar.category %>
	</div>


<button id="rsvpbutton" type="button"><%= link_to "Edit this Bar", edit_bar_path %></button>