// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top:50px;
	background-image: asset-data-url("beer.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	font-family:"Lato";
	background-attachment: fixed;
}

.barform{
	background-image: asset-data-url("graph-paper.png");
	opacity: 0.8;
	width:auto;
}

.showpage{
	background-image: asset-data-url("graph-paper.png");
	opacity: 0.8;
	width:auto;
	font-size:40px;
}
	


.smallerform{
	padding:25px;	
}

.text {	
	float:left;
	font-size:20px;
	width:120px;
}

#newbarform {
	color:white
}


#greeting{
	text-align:center;
	color:white;
	font-size: 150px;
}

.navbar-right {
	padding-right:20px;
}

p {
	font-size: 100px;
	color:purple;
}

#dof {
	padding-top: 16px;
	color:red;
}

.thumbnail {
	background-color: rgba(255,255,255,0.8);
}

.btn-lg {
	padding: 13px 16px;
}