// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signup{
	text-align:center;
	padding:50px;
	width:960px;
	background:white;
}

